@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* Global styles */

body {
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(to bottom, #7889a3,#926596);
}

section .colour {
    position: absolute;
    filter: blur(200px);
}

section .colour:nth-child(1){
    top: -350px;
    width: 600px;
    height: 600px;
    background: #ec479a;    
}
section .colour:nth-child(2){
    bottom: -150px;
    left: 100px;
    width: 500px;
    height: 500px;
    background: #fffd87;    
}
section .color:nth-child(3){
    bottom: 50px;
    right: 100px; 
    width: 300px;
    height: 300px;
    background: #00d2ff;    
}

.box {
    position: relative;
    display: flex;
}

.container {
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);   
}

.contents {
    position: relative;
    display: flex;
    flex-direction: column; /* Display children in a column */
    width: 100%;
    height: 100%;
    padding: 40px;
    justify-content: center;
    align-items: center;
}

.contents h2 {
    font-family: "Noto Sans KR", sans-serif;
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

.contents .word {
    font-family: "Noto Sans KR", sans-serif;
    position: relative;
    color: #fff;
    margin-top: 20px;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}
.contents .definition,
.contents .example {
    position: relative;
    color: #fff;
    margin-top: 20px;
    font-weight: 600;
    text-align: center;
}

.contents .examplekr {
    font-family: "Noto Sans KR", sans-serif;
    position: relative;
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
    text-align: center;
}

.contents > button {
    position: relative;
    width: 100px;
    min-height: 50px;
    color: #666;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: 600;
    text-align: center;
    border-radius: 25px;
    display: flex;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);  
}
/* @keyframes clickAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
.contents > button:hover {
    transform: scale(1.1);
}

*/
.contents > button::after{
    content: " ";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    left: 0;
    top: 0;
    border-radius: 25px;
}

.contents > button::before {
    content: " ";
    background: linear-gradient(45deg,#65a585,#b991bd,#ec479a,#fffd87,#00d2ff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 1000%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 25px;
    opacity: 0;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    1000% {background-position: 0 0;}
}

.contents > button::before{
    opacity:1;
}

.contents > button:active:after{
    background: transparent;
}

.contents > button:active {
    color: #fff;
}